@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: red;
	color: white;
	width: 100%;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.text {
	font-family: "Megrim", cursive;
	text-align: center;
	font-size: 50px;
	text-shadow: 0 1px 0 white, 1px 0 0 white, 0 -1px 0 white, -1px 0 0 white;
}
.logo {
	width: 350px;
	height: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	overflow-x: hidden;
}

.stripes span:nth-child(1) {
	background-color: red;
	width: 200px;
	height: 3px;
	position: absolute;
	top: 14px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.logo span:nth-child(2) {
	background-color: red;
	width: 250px;
	height: 3px;
	position: absolute;
	top: 110px;

	-webkit-transform: rotate(-20deg);

	-ms-transform: rotate(-20deg);

	transform: rotate(-20deg);
}
.logo span:nth-child(3) {
	background-color: red;
	width: 250px;
	height: 6px;
	position: absolute;
	top: 80px;
	left: -30px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.logo span:nth-child(4) {
	background-color: rgb(255, 0, 0);
	width: 120px;
	height: 6px;
	position: absolute;
	top: 146px;
	left: -30px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.logo span:nth-child(5) {
	background-color: red;
	width: 250px;
	height: 6px;
	position: absolute;
	top: 172px;
	right: -30px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.logo span:nth-child(6) {
	background-color: rgb(255, 0, 0);
	width: 120px;
	height: 6px;
	position: absolute;
	top: 144px;
	right: -30px;
	-webkit-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.logo-back {
	z-index: -1;

	position: absolute;
}
img {
	height: 300px;
	width: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.stripes {
	/* 	background-color: #333;
 */
	border-radius: 50%;
	background: -o-linear-gradient(
		45deg,
		rgba(105, 105, 105, 0.918),
		grey,
		rgb(66, 66, 66),
		rgba(36, 36, 36, 0.911)
	);
	background: linear-gradient(
		45deg,
		rgba(105, 105, 105, 0.918),
		grey,
		rgb(66, 66, 66),
		rgba(36, 36, 36, 0.911)
	);
	width: 200px;
	height: 200px;
	aspect-ratio: 1;
	overflow: hidden;
	position: relative;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0;
}
.nav ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: sans-serif;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
	font-weight: bold;
}
ul li {
	margin: 25px 6px;
	text-align: center;
}

.arrow {
	height: 40%;
	width: 15px;
	position: absolute;
}
.un {
	left: 3%;
	top: 35%;
}
.arrow div {
	width: 100%;
	height: 100%;
	position: relative;
}

.arrow div span:nth-child(1) {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		from(red),
		color-stop(white),
		color-stop(white),
		to(red)
	);
	background: -o-linear-gradient(bottom, red, white, white, red);
	background: linear-gradient(to top, red, white, white, red);
	width: 1px;
	height: 100%;
	display: block;
	margin: auto;
}
.arrow span:nth-child(2) {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgb(255, 255, 255);
	position: absolute;
	top: 40%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.arrow span:nth-child(3) {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(230, 230, 230, 0.979);
	position: absolute;
	top: 20%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.deux {
	right: 5%;
	top: 24%;
}
.quattro,
.tres,
.cinque,
.seis {
	display: none;
}

@media screen and (max-width: 360px) {
	.logo {
		max-width: 300px;
		width: inherit;
	}
	img {
		max-width: 300px;
		width: inherit;
	}
}

@media screen and (max-width: 270px) {
	.arrow {
		display: none;
	}
}

@media screen and (min-width: 700px) {
	.un,
	.deux {
		left: 20%;
		height: 50%;
	}
	.arrow div span:nth-child(1) {
		width: 2px;
	}
	.tres {
		top: 20%;
		right: 10%;
		display: block;
	}
	.quattro {
		right: 10%;
		top: 35%;
		display: block;
	}
	.cinque {
		left: 10%;
		top: 15%;
		display: block;
	}
	.seis {
		bottom: 0%;
		right: 30%;
		display: block;
	}
}
